

.cont {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    height: 50vh;
    width: 100%;
    box-shadow: 0 3px 3px 0 #676767;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.cont::-webkit-scrollbar {
    width: 15px;
    height: 30px;
}

/* Track */
.cont::-webkit-scrollbar-track {
    background: #3EE4F0;
    border-radius: 30px;
    width: 15px;
}

/* Handle */
.cont::-webkit-scrollbar-thumb {
    background: #eb4f61;
    border-radius: 30px;
    width: 5px;
}

/* Handle on hover */
.cont::-webkit-scrollbar-thumb:hover {
    background: #eb4f61;
}



.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.friendsList, .friendsAdd , .friendsDemands{

    width: 60vw;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
}

.navClass{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    /*width qui rempli tout l'espace dispo*/
    width: 100%;
}

.topButton{
    background-color:  #E4E5E7;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em 2em;
    margin-bottom: 0.2em;
    /*ajouter une bordure en bas*/
}

.topButton:hover{
    /*background-color: #3EE4F0;
    color: #000000;*/
    cursor: pointer;
}

#amisBTN{
    background-color: #3EE4F0;
    color: #000000;
    border-bottom: 4px solid #eb4f61;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /*centrer verticalement*/
    height: 71.5%;

}

.btnJouer{
    margin : 0;
}

.mitro {
    width: 35px; /* ajustez la taille du cercle selon vos besoins */
    height: 35px; /* assurez-vous que la largeur et la hauteur soient les mêmes pour obtenir un cercle parfait */
    overflow: hidden; /* assurez-vous que l'image est coupée si elle dépasse les limites du cercle */
    border-radius: 50%; /* définir le rayon du cercle */
    margin-bottom: 0.4em;
    margin-right: -4em;
}

.mitro img {
    width: 150%; /* assurez-vous que l'image remplit complètement le cercle */
    margin-left: -10px;
}

#resultatRechercheAmis{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;

}
#searchInput
{
    height: 5vh;
    width: 50vh;
    border-radius: 15px;
    background-color: #d2e8ef;
    color: black;
    font-weight: bold;
}
#RechercheJoueur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 3px solid #494949;
    background-color: #cccccc;
}

#RechercheJoueur button{
    background-color: #B8E6F5;
    width: 5vh;
    height: 5vh;
    border-radius: 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RechercheJoueur img{
    width: 150%;
}

#resultatRechercheAmis::-webkit-scrollbar {
    width: 15px;
    height: 30px;
}

/* Track */
#resultatRechercheAmis::-webkit-scrollbar-track {
    background: #3EE4F0;
    border-radius: 30px;
    width: 15px;
}

/* Handle */
#resultatRechercheAmis::-webkit-scrollbar-thumb {
    background: #eb4f61;
    border-radius: 30px;
    width: 5px;
}
.amisName{
    width: 10vh;
}
.addBTN,.suppBTN{
    appearance: none;
    backface-visibility: hidden;

    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(231, 76, 60, 0.15) 0px 4px 9px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.3s ease 0s;
    user-select: none;
}

.profilAmis{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 55vw;
    margin: 1vh 1vh 5px 1vh;

}
.profilAmis div{
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.profilAmis img{
    height: 3.5vw;

    aspect-ratio: 1/1;
}

.notification-demandes {
    position: relative;
    top: -10px;
    right:10px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: none;
}

.navClass2{
    display: none;
}


@media screen and (max-aspect-ratio: 4/3.1) {
 .cont{
     height: 60vh;
 }
    .profilAmis img{
        height: 91.28px;

        aspect-ratio: 1/1;
    }
    .profilAmis{
        height: 91.28px;
        width: 85vw;
    }
    .profilAmis p{
        font-size: 3vh;
        font-weight: 600;
    }
    .elo{
        display: none;
    }
    .topButton{
        background-color:  #E4E5E7;
        font-size: 3vh;
        font-weight: bold;
        padding: 0.2em 2em;
        margin-bottom: 0.2em;
        /*ajouter une bordure en bas*/
    }
    .navClass{
        flex-wrap: wrap;
    }
    .friendsList, .friendsAdd , .friendsDemands{

        width: 96vw;
        font-size: 1.2em;
        /*changer couleur du texte*/
        color: #eb4f61;
    }
    .addBTN,.suppBTN{
        appearance: none;
        backface-visibility: hidden;
        border-radius: 8px;
        border-style: none;
        box-shadow: rgba(231, 76, 60, 0.15) 0px 4px 9px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: inline-block;
        font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
        font-size: 2.5vw;
        font-weight: 600;
        letter-spacing: normal;
        line-height: 1.5;
        outline: none;
        overflow: hidden;
        padding: 4px 8px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transform: translate3d(0px, 0px, 0px);
        transition: all 0.3s ease 0s;
        user-select: none;
        margin-right: 1.5vh;
        margin-top: 0.22vh;
    }
    .navClass2{
        display: flex;
        margin-bottom: 1.5vh;
    }

    .navClass2 *{
        box-sizing: border-box;
    }

    .Play{
        font-size: 1em;
    }

    .select{
        background: #2a2f3b;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px #2a2f3b solid;
        border-radius: 0.5em;
        padding : 1em;
        cursor: pointer;
        transition: background 0.3s;
    }

    .selected{
        margin-right: 2vh;
    }

    .select-clicked{
        border: 2px #26489a solid;
        box-shadow: 0 0 0.8em #26489a;
    }

    .select:hover{
        background: #323741;
    }

    .fleche{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fff;
        transition: 0.3s;
    }

    .fleche-rotate{
        transform: rotate(180deg);
    }

    .menu{
        list-style: none;
        padding: 0.2em 0.5em;
        background: #323741;
        border: 1px #363a43 solid;
        box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.1);
        border-radius: 0.5em;
        position: absolute;
        margin-top: 7vh;
        left: 50%;
        transform: translateX(-50%);
        width: 20vh;
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 10;
        position: absolute;
    }

    .topButton{
        /*enlever tout le css*/
        background: unset;
        margin: unset;
        padding: unset;
        border: unset;
        font-weight: unset;
        color: white;
        font-size: 1.2em;
    }

    .menu li{
        padding: 0.7em 0.5em;
        border-radius: 0.5em;
        margin: 0.2em 0;
        cursor: pointer;
    }

    .menu-open{
        display: block;
        opacity: 1;
    }

    .menu li:hover{
        background: #2a2d35;
    }
    .navClass{
        display: none;
    }

}