body {
    background-image: url('../images/fond-stade.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.message{
    position: absolute;
    /*placer le message au milieu de la page*/
    top: 50%;
    left: 49.4%;
    transform: translate(-50%, -50%);
    background-color: #1b418c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size:  2.5vh;
}

.container {
    display: flex;
    justify-content: space-between;
}

.profilA,
.profilB,
.wrapper,
.message{
    margin: 10px; /* Vous pouvez ajuster la marge selon vos besoins */
}
.profilA,
.profilB{
    width: 200px;
}

.wrapper {
    background-image: url('../images/terrain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    /*grid-template-columns: repeat(8, 40px 5px) 40px;
    grid-template-rows: repeat(14, 40px 5px);*/
    grid-template-columns:  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh;
    grid-template-rows:  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh  1.5vh  7.5vh;
   /* grid-template-columns: 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw;
    grid-template-rows: 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh;*/

    /*grid-template-columns: repeat(17, 40px);
    grid-template-rows: repeat(17, 40px);*/
    justify-content: center;
    margin-top: 0.5vh;
}

.wrapper .cell {
    border: 0.5px solid #dddddd;
    text-align: center;
    box-sizing: border-box;
}

.odd-row, .odd-col {
    background-color: #ffffff;
}

.top-row, .bot-row {
    background-color: #cecece;
}

/*ajouter un hover sur les cases top et bot*/
.first-turn:hover {
    background-color: #757575;
}

.fog {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

h3 {
    background-color: #B9C0C6;
    padding: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5vh;
    text-align: center;
    /*placer en haut de la div*/
    margin-top: 0;
}

.playerB {
    background-color: #ff000090;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.playerA {
    background-color: #000FFF90;


    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.playerA:after {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.playerB:after {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.profilA, .profilB {
    background-color: #E4E5E7;
    /*augmenter la largeur de la div et reduire sa hauteur*/
    width: 20%;
    height: fit-content ;
    display: flex;
    flex-direction: column;
    /*baisser sa position*/
}


.possible-move {
    background-color: #696969;
}

.wallTMP {
    background-color: #fce731;
    padding: 2px;
}

.rotation {
    background: url('../images/rotation.png') no-repeat center center; /* Remplacez le chemin par le chemin réel de votre image */
    background-size: cover; /* Ajustez selon vos besoins */
    width: 22px;
    height: 22px;
    z-index: 10;
    margin-left: -6px;
    margin-top: -6px;
    padding: unset;
}


.wallA {
    background-color: #0048ff;
    padding: 2px;
}
.wallB {
    background-color: #ff0000;
    /*background: url("../images/murs-jambes-horizontal.png") no-repeat center center;
    background-size: cover;
    margin-left: 2px;
    margin-top: -9px;
    width: 25px;
    height: 25px;
    z-index: 9;*/
}

/*.jambeMur{
    background: url("../images/murs-jambes-vertical.png") no-repeat center center;
    background-size: cover;
    margin-left: -9px;
    margin-top: 2px;
    width: 25px;
    height: 25px;
    z-index: 9;
}*/

.valider{
background-color: #f1c758;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 0;
}
.valider p{
    grid-area: 1/ 3 / 1 /1 ;
}

#nbWallPlayerA, #nbWallPlayerB {
    background-color: #E4E5E7;
    padding: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 0;
}

.center {
   /* text-align: center;
    justify-content: space-evenly;
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:  2vh ;
    width: fit-content;
    gap: 2vw;
    margin: 10px auto;

    flex-direction: row;*/
    display: none;
}

.anti-cheat {
    background-color: #E4E5E7;
    width: 50%;
    height: 70vh;
    margin: 10px auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
}

button {
    background-color: #B9C0C6;
    border: none;
    color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.3vw;
    cursor: pointer;
    height: 50px;

}

.okButton {
    background-color: #6ede4c;
    /*mettre un bord autour du bouton*/
    border: 2px solid #444444;
}

.notokButton {
    background-color: #ef4545;
    /*mettre un bord autour du bouton*/
    border-right:2px solid #444444;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
}






.sauvegarder{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: .5vh;
    text-align: center;
    margin-top: 0;
    width: 100%;

}
.sauvegarder button{
    background-color: #28bdc9;
    width: 100%;
}
.forfait{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: .5vh;
    text-align: center;
    margin-top: 0;
    width: 100%;
}
.forfait button{
    background-color: #F67E8C;
    width: 100%;
}

.finDePartie {
    background-color: #E4E5E7;
    width: 90vw;
    height: 55vh;
    margin: 10px auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}
#finLeft img,#finRight img{
    height: 10vh;
}
.finDePartie div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#finMiddle{
    display: flex;
    align-items: center;
}
#finMiddle h2{
   font-size: 4vh;
}
#finMiddle button{
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:  .5vh;
    color: #eb4f61;
    font-weight: bold;
    font-size: 3vh;
}
#finMiddle img{
    width: 20vw;
    min-height: 25vh;
    max-height: 40vh;
}

#chronometreA,#chronometreB{
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
}
#information{
    position: absolute;
    /*placer le message au milieu de la page*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #676767;
    box-shadow: 0px 5px 5px 5px #676767;
    color: white;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    align-items: center;
    font-size:  2.5vh;
    display: none;
    opacity: 1;
    transition: opacity 0.5s ease; /* Transition de l'opacité sur une demi-seconde */

}
#information img{
    width: 30vw;
    aspect-ratio: 1/1;
}

@media screen and (max-aspect-ratio: 4/3.1) {
    #information img{
        width: 35vh;
        aspect-ratio: 1/1;
    }
    .wrapper {
        background-image: url('../images/terrain.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        /*grid-template-columns: repeat(8, 40px 5px) 40px;
        grid-template-rows: repeat(14, 40px 5px);*/
        grid-template-columns:  9vw 1vh  9vw 1vh  9vw 1vh  9vw 1vh  9vw 1vh  9vw 1vh  9vw 1vh  9vw 1vh  9vw;
        grid-template-rows:  5vh 1vh  5vh 1vh 5vh 1vh  5vh 1vh  5vh 1vh  5vh 1vh  5vh 1vh  5vh 1vh  5vh;
        /* grid-template-columns: 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw 0.5vw 3.5vw;
         grid-template-rows: 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh  .5vh 5vh;*/

        /*grid-template-columns: repeat(17, 40px);
        grid-template-rows: repeat(17, 40px);*/
        justify-content: center;
    }
    .anti-cheat {
        background-color: #E4E5E7;
        width: 90vw;
        height: 53vh;
        margin: 10px auto;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        display: none;
    }

    .profilA,.profilB{
        order: 99;
        display: grid;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        max-height: 10vh;
        grid-template-rows: repeat(3, 1fr);
    }
    .profilB{
        order: -1;
    }
    h3 {
        grid-column: span 2;
        background-color: #B9C0C6;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2vh;
        width: 90vw;
        text-align: center;
        /*placer en haut de la div*/
        margin: 0;
    }
    #nbWallPlayerA, #nbWallPlayerB {
        grid-column: span 1;
        background-color: #E4E5E7;

        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2vh;
        text-align: center;
        margin: 0;
        height: 4vh;
    }
 #chronometreA, #chronometreB{
     grid-column: span 1;
     font-weight: bold;
 }
    button {
        grid-column: span 1;
        background-color: #B9C0C6;
        border: none;
        color: black;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2.3vh;
        cursor: pointer;
        height: 4vh;

    }
    .sauvegarder{

        font-family: 'Roboto Condensed', sans-serif;
        font-size: .5vh;
        text-align: center;
        margin-top: 0;
        width: 100%;

    }
    .forfait{

        font-family: 'Roboto Condensed', sans-serif;
        font-size: .5vh;
        text-align: center;
        margin-top: 0;
        width: 100%;
    }
    .valider{

        grid-column: span 2;
        background-color: #f1c758;
        font-family: 'Roboto Condensed', sans-serif;

        text-align: center;
        margin-top: 0;
    }
    .valider p {
        font-size: 2.5vh;
        margin: 0;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        height: 80%;

    }
    #finLeft img,#finRight img{
        height: 10vw;
    }
    #finMiddle img{
        width: 50vw;
        min-height: 15vh;
        max-height: 40vh;
    }
    .finDePartie{
        max-height:53vh ;
    }
    .forfaitGrand{
        grid-column: span 2;
    }
}