
    body {
        background-image: url('../images/fond.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 97vh;
        font-family: 'Roboto Condensed', sans-serif;

    }

    .header {
        position: relative;
        /*background-image: url('../images/header.png');*/
        height: 7.5vh;
        width: 80%;
        margin :1vh;
        box-shadow: 0px 12px 9px -9px #919191;
        display: flex;
        flex-direction: row;
    }

    .cnt-header  {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        background-color: #E4E5E7;
    }
    #triangle_fond {
        height: 100%;
        aspect-ratio: 1/1;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="rgba(228, 229, 231, 1)"><polygon points="0,0 0,100 100,100"/> </svg>') left no-repeat;

        left: calc(100% - 1px);
    }
    .nav {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;
    }

    .nav img {
        height: 50%;
    }

    .connection {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;
        margin-right: 3vw;
    }

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 4px;
    }

    .name {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 3vh;
        color: #212121;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
        margin-left: 1em;
    }


    .se-connecter {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.8em;
        color: #E4E5E7;
        height: 100%;
        background-color: #9f9f9f;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .cnt-footer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 80%;
        background-color: #E4E5E7;
    }

    .footer {
        position: fixed; /* Position fixe */
        bottom: 0; /* Le footer est aligné en bas de la fenêtre */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 7.5vh;
        margin: 1vh 1vh 1vh -1vh;
        box-shadow: 0px 12px 9px -9px #919191;

    }


    #triangle_inverse_fond{
        height: 100%;
        aspect-ratio: 1/1;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="rgba(228, 229, 231, 1)"><polygon points="0,100 100,100 100,0"/> </svg>') right no-repeat;
        right: calc(100% - 1px);
    }

    .connexion {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.1em;
        color: #E4E5E7;
        height: 100%;
        margin-right: 0.5vh;
        background-color: #9f9f9f;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .btn {
        margin-left: 1.5vh;
        margin-right: 1.5vh;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 3vh;
        /*police moins fine*/
        font-family: 'Roboto Condensed', sans-serif;
    }


    #param {
        width:auto;
        height: 3vh;
        margin-right: 5px;
    }


    #bande {
        width: 65%;
    }

    #chat, #amisDiv {
        display: flex;
        width: fit-content;
        height: 100%;
        margin-right: 0.5vh;
        background-color: #B9C0C6;
        cursor: pointer;
        padding-right : 0.5vh;
        padding-left : 0.5vh;
        align-items: center;
    }
    #chat img, #amisDiv img{
        width:auto;
        height: 5vh;
        max-height: 72%;
        margin-right: 1vh;
    }

    #chat:hover, #amisDiv:hover {
        background-color: #a3a6ab;
    }

    #chatting, #amisTexte {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: bold;
        font-size: 1.2em;
    }

    .chatMenu {
        display: none;
    }

    .chatMenu.show {
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: flex-start;
        width: 22.4%;
        position: absolute;
        height: 80%;
        margin-left: 77.35%;
        margin-top: 9.8vh;
        background-color: #86A1B9;
    }

    #menuChat {
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: flex-start;
        align-items: flex-start;

    }

    #amisChat, #matchChat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 6vh;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        background-color: #E4E5E7;

    }

    #amisChat {
        background-color: #3EE4F0;
        color: #000000;
        border-bottom: 4px solid #eb4f61;
    }

    .amisMsg, .matchMsg {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
    }

    .listeAmis {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 94%;
        font-size: 1.2em;
        margin-top: 1vh;
        padding: 0.8vh;
        color: #000000;
        background-color: #E4E5E7;
        cursor: pointer;
    }

    .nom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.5vh;
        color: #eb4f61;
    }

    .ami {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #kickoridor {
        width: 13%;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    #home {
        cursor: pointer;
        margin-left: 1vh;
    }

    #vingt {
        width: 2.5%;
        margin-bottom: 5px;
        margin-left: 5px;
    }


    #petitePhoto {
        height: 80%;
        aspect-ratio: 1/1;

    }

    .mitroChat {
        width: 35px; /* ajustez la taille du cercle selon vos besoins */
        height: 35px; /* assurez-vous que la largeur et la hauteur soient les mêmes pour obtenir un cercle parfait */
        overflow: hidden; /* assurez-vous que l'image est coupée si elle dépasse les limites du cercle */
        border-radius: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    .mitro img, .mitroChat img {
        width: 150%; /* assurez-vous que l'image remplit complètement le cercle */
        margin-left: -10px;
    }

    .notif, .poubelle {
        width: 5vh;
        height: 5vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .notif-poubelle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
        align-items: center;
    }

    .notif {
        cursor: pointer;
    }

    .msgAmis {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .chatAmi, .matchChatt {
        margin-top: 0.5vh;
        display: flex;
        width: 98%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 0.5vh;
        overflow-y: auto;
    }

    .matchChatt {
        width: 96%;
    }

    .mesMsg {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .chatAmiMsg, .matchMsg {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
    }

    .matchMsg {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-direction: column;
        overflow-y: auto;

    }

    .sesMsg {
        background-color: #B8E6F5;
    }

    .msgMoi {
        background-color: #CFD9DC;
        margin-right: 3%;
    }

    .msgMoi, .sesMsg {
        padding: 1vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        border-radius: 2vh;
        width: 60%;
        /*faire que le texte ne dépasse pas la boite*/
        word-wrap: break-word;
    }

    .chatAmi::-webkit-scrollbar {
        width: 0.5em;
    }

    .chatAmi::-webkit-scrollbar-track {
        background: #d7ddde;
        border-radius: 10px;
    }

    .chatAmi::-webkit-scrollbar-thumb {
        background: #50717a;
        border-radius: 10px;
    }

    .chatAmi::-webkit-scrollbar-thumb:hover {
        background: #678288;
    }

    .matchChatt::-webkit-scrollbar {
        width: 0.5em;
    }

    .matchChatt::-webkit-scrollbar-track {
        background: #d7ddde;
        border-radius: 10px;
    }

    .matchChatt::-webkit-scrollbar-thumb {
        background: #50717a;
        border-radius: 10px;
    }

    .matchChatt::-webkit-scrollbar-thumb:hover {
        background: #678288;
    }

    .barreChat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 5vh;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: #E4E5E7;
        margin-left: 1vh;
    }

    .envoyer {
        cursor: pointer;
        width: 5vh;
    }

    .inputEcrire {
        width: 88%;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #E4E5E7;
        border-radius: 15px;
        margin-bottom: 1vh;
        margin-top: 0.5vh;
    }

    .chatMenu > :last-child {
        margin-top: auto;
    }

    .notification-badge {
        position: relative;
        top: -2vh;
        right: 10vh;
        width: 3.5vh;
        height: 1.9vh;
        background-color: red;
        border-radius: 50%;
        display: none;
    }
    #retour{
        width: 25vh;
        aspect-ratio: 4/1;
        margin-left: 2vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        cursor: pointer;
    position: relative;
    }
    @media screen and (max-aspect-ratio: 4/3.1) {

        body{
            /*decaler le background de 10%*/
            background-position: 75% 0 !important;
        }

        .cnt-header{
            width: 100%;
            margin: unset;
        }

        .header{
            width: 100%;
            margin: unset;
        }
        #triangle_fond{
            display: none;
        }

        .footer{
            width: 100%;
            margin: unset;
            /*mettre un box shadow gris uniquement en haut*/
            box-shadow: 5px -2.2px 9px 0 #919191;
        }

        .cnt-footer{
            width: 100%;
        }

        #triangle_inverse_fond{
            display: none;
        }

        #retour{
            width: 16vh;
            margin-left: 2vh;
            margin-top: 1.5vh;
            margin-bottom: 1vh;
            cursor: pointer;
            position: relative;
        }

    #chat img, #amisDiv img{
        width:auto;
        height: 5vh;
    }

    #chatting, #amisTexte {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: bold;
        font-size: 1.2em;
    }


    .chatMenu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 95%;
        position: absolute;
        height: 70%;
        margin-left: 2.5%;
        margin-top: 22vh;
        background-color: #86A1B9;
        font-size: 3vh;

    }
    .barreChat {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 5vh;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: #E4E5E7;
        margin-left: 1vh;
        font-size: 2vh;
    }


        .notification-badge {
            position: relative;
            top: -2vh;
            right: 15vw;
            aspect-ratio: 1/1;
            width: auto;
            height: 2vh;
            background-color: red;
            border-radius: 50%;
            display: none;
        }
}
    @media screen and (max-width: 750px) {
        .logo {
            display: none
        }
    }