.btnJouer{
    margin: 0.3em 0 0 0.3em;
}

.container {
    display: flex;
    /*placer les div au centre horizontalement et verticalement*/
    align-items: center;

    justify-content: center;
    flex-direction: column;
}
.big-container{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#titre{
    width: fit-content;
    height: fit-content;
    max-width: 30%;
}

.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #E4E5E7;
    width: 50vw;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 #676767;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    color: #676767;
}

#loginForm {
    margin-top: 1%;
    width: 80%;
    margin-bottom: -5%
}

input {
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid #676767;
    padding: 0.5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

.valider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 8%;
}


#signup{
    background-color: #b0b0b0;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding-right : 10px;
    padding-left : 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-bottom: 2vh;
    margin-top: -1.2vh;
}

#login{
    background-color: #3cadb6;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 3vh;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 7px 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-bottom: 2vh;
    margin-top: -2vh;
}

#login:hover{
    background-color: #389ba2;
    box-shadow: #389ba2 0 10px 20px -10px;
}

#signup:hover{
    background-color: #969696;
}
.Title img{

    width: fit-content;
    height: fit-content;
    max-width: 60vw;
    max-height: 100%;

}


@media screen and (max-aspect-ratio: 4/3.1) {

    .container{
        width: 100%;
    }

    .login {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #E4E5E7;
        width: 80%;
        height: fit-content;
        border-radius: 10px;
        box-shadow: 0 3px 3px 0 #676767;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2vh;
        color: #676767;
        min-width: 250px;
    }
    #signup{
        background-color: #b0b0b0;
        border-radius: 999px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 2vh;
        font-weight: 700;
        line-height: 35px;
        opacity: 1;
        outline: 0 solid transparent;
        padding-right : 10px;
        padding-left : 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
        margin-bottom: 2vh;
        margin-top: -1.2vh;
    }

    #login{
        background-color: #3cadb6;
        border-radius: 999px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 120%;
        font-weight: 700;
        line-height: 4.1vh;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 7px 25px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;
        margin-bottom: 2vh;
        margin-top: -2vh;
    }
    .btnJouer {
        margin: 0.3em 0 0 0.3em;
        font-size: 5vh;
        text-align: center;
    }
    input {
        width: 100%;
        height: 6vh;
        border-radius: 5px;
        border: 1px solid #676767;
        padding: 0.5em;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 100%;
    }
    .valider{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        flex-direction: column;
        width: 100%;
        margin-top: 8%;
    }
    #loginForm {
        margin-top: 1vh;
        width: 80%;
        margin-bottom: -5%;
    }
    .Title img{
        width: fit-content;
        height: fit-content;
        max-width: 60vw;
        max-height: 100%;

    }

    .titre{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vh;
    }
    #titre{
        width: fit-content;
        height: fit-content;
        max-width: 35vh;
    }
}
@media screen and (max-height : 380px) {
    .Title img{

    display: none;
    }
}
