
    .Play {
        background-color: #E4E5E7;
        font-family: 'Roboto Condensed', sans-serif;
        /*changer couleur du texte*/
        color: #eb4f61;
        width: 30%;
        height: 34%;
        max-height: 300px;
        margin: 0.5em;
        box-shadow: 0 3px 3px 0 #676767;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transition: background-color 0.3s ease; /* Animation de transition pour un effet plus fluide */

    }



.Play:hover {
    background-color: #eb4f61;
    color: #E4E5E7;
    box-shadow: 0 3px 3px 0 #676767;
    /*afficher le curseur pointer*/
    cursor: pointer;
}

    .PlayBot {
        background-color: #E4E5E7;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.5vw;
        /*changer couleur du texte*/
        color: #eb4f61;
        width: 24%;
        height: 34%;
        max-height: 300px;
        margin: 0.5em;
        box-shadow: 0 3px 3px 0 #676767;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transition: background-color 0.3s ease; /* Animation de transition pour un effet plus fluide */

    }



    .PlayBot:hover {
        background-color: #eb4f61;
        color: #E4E5E7;
        box-shadow: 0 3px 3px 0 #676767;
        /*afficher le curseur pointer*/
        cursor: pointer;
    }

.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.btnJouer{
    height: 23vh;
    max-height: 300px;
    width: 20vw;
    margin: 0.1em 0.2em 0.2em 0.1em;
    font-size: 4.5vh;
}
    .btnJouerBot{
        height: 23vh;
        max-height: 300px;
        width: 20vw;
        margin: 0.1em 0.2em 0.2em 0.2em;
    }

.container {
    display: flex;
    /*placer les div au centre horizontalement et verticalement*/
    align-items: center;
    min-height: 70vh;
    justify-content: center;
}

    .big-container{
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

#classement {
    background-image: url("../images/ucl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #dddddd;
    transition: filter 0.3s ease; /* Animation de transition pour un effet plus fluide */
}

#classement:hover {
    filter: brightness(70%); /* Appliquer un filtre de luminosité de 80% (plus clair) */
}

#name:hover {
    cursor: pointer;
    font-weight: bold;
}


.mitro {
    width: 35px; /* ajustez la taille du cercle selon vos besoins */
    height: 35px; /* assurez-vous que la largeur et la hauteur soient les mêmes pour obtenir un cercle parfait */
    overflow: hidden; /* assurez-vous que l'image est coupée si elle dépasse les limites du cercle */
    border-radius: 50%; /* définir le rayon du cercle */
    margin-bottom: 0.4em;
    margin-right: -4em;
    cursor: pointer;
}

.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -18vh;
    margin-top: 5%;
}

.icon{
    width: 20%;
}

#regle{
    width: 18%;
}

#titre{
    width: fit-content;
    height: fit-content;
    max-width: 30%;
}

.mitro img {
    width: 150%; /* assurez-vous que l'image remplit complètement le cercle */
    margin-left: -10px;
}

#retour{
    width: 25vh;
    margin-left: 2vh;
    margin-top: 1vh;
    margin-bottom: -2vh;
    cursor: pointer;
}

#aleaBot, #smartBot{
    width: 10vw;
    max-width: 10vh;
    margin-right: 0.5vh;
}

    @media screen and (max-aspect-ratio: 4/3.1) {
        .container {
            display: flex;
            flex-direction: column;
            /*placer les div au centre horizontalement et verticalement*/
            align-items: center;
            min-height: 70vh;
            justify-content: center;
        }
        .Play {
            background-color: #E4E5E7;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.2em;
            /*changer couleur du texte*/
            color: #eb4f61;
            width: 90%;
            height: 25%;
            max-height: 300px;
            margin: 0.2em;
            box-shadow: 0 3px 3px 0 #676767;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            transition: background-color 0.3s ease; /* Animation de transition pour un effet plus fluide */
            min-width: 200px;
        }
        .PlayBot {
            background-color: #E4E5E7;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2.5vh;
            /*changer couleur du texte*/
            color: #eb4f61;
            width: 70%;
            height: 24%;
            max-height: 300px;
            margin: 0.5em;
            box-shadow: 0 3px 3px 0 #676767;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            transition: background-color 0.3s ease; /* Animation de transition pour un effet plus fluide */
            min-width: 200px;
        }
        .btnJouer{
            height: 100%;
            max-height: 300px;
            width: 100%;
            margin: 1em 2em -0.01em 0.2em;
            font-size: 3.5vh;
        }

        .icon{
            width: 30%;
        }

        #regle{
            width: 25%;
        }
        .btnJouerBot{
            height: 20vh;
            max-height: 300px;
            width: 30vw;
            margin: 0.1em 0.2em 0.2em 0.2em;
            font-size: 3vh;
        }
        .titre{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -5vh;
        }
        #titre{
            width: fit-content;
            height: fit-content;
            max-width: 35vh;
        }
        .big-container{
            min-height: 80vh;
        }

    }
