.Play {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
    box-shadow: 0 3px 3px 0 #676767;

    padding: 0.2em 4em 6em 0.4em;

}
.selected2{
    background-color: #eb4f6170 ;
    border: 3px solid #eb4f61;
}
.searchPNG{
    display: none;
}
.searchTXT{
    display: flex;
}
.Play:hover {
    background-color: #eb4f61;
    color: #E4E5E7;
    box-shadow: 0 3px 3px 0 #676767;
    /*afficher le curseur pointer*/
    cursor: pointer;
}


.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.photo, .info, .celebration{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 60vw;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;

}

.navClass{
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /*width qui rempli tout l'espace dispo*/
    width: 70vw;
    margin-left: 10vw;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', sans-serif;
}

.topButton{
    background-color:  #E4E5E7;
    font-size: 4vh;
    font-weight: bold;
    padding: 0.2em 0.5em;
    margin-bottom: 0.2em;
    /*ajouter une bordure en bas*/
}
h2{
    font-size: 4vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.topButton:hover{
    /*background-color: #3EE4F0;
    color: #000000;*/
    cursor: pointer;
}

#info{
    background-color: #3EE4F0;
    color: #000000;
    border-bottom: 4px solid #eb4f61;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /*centrer verticalement*/
    height: 70%;

}

.btnJouer{
    margin : 0;
}




#name:hover {
    cursor: pointer;
    font-weight: bold;
}

.mitro {
    width: 35px; /* ajustez la taille du cercle selon vos besoins */
    height: 35px; /* assurez-vous que la largeur et la hauteur soient les mêmes pour obtenir un cercle parfait */
    overflow: hidden; /* assurez-vous que l'image est coupée si elle dépasse les limites du cercle */
    border-radius: 50%; /* définir le rayon du cercle */
    margin-bottom: 0.4em;
    margin-right: -4em;
}

.mitro img {
    width: 150%; /* assurez-vous que l'image remplit complètement le cercle */
    margin-left: -10px;
}

.resume {

    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    box-shadow: 0 3px 3px 0 #676767;
    height: 60vh;
    width: 20vw;
    min-width: 18vh;
    background-image: url("../images/fondProfilGris.png");
    /* padding: 0.2em 4em 6em 0.4em;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    overflow: clip;

}

.resume p{
    font-size: 2vh;
    color: black;
    font-weight: bold;
    text-align: center;
}
#photoChoisieInfo{
    height: 12vh;
    border-radius: 50%;
    border: 2px solid red;
}
#celebrationChoisieInfo{
    height: 16vh;
    width: 16vh;
    border: 2px solid red;
}
#photoChoisieProfil{
    width: 13vw;
    border-radius: 50%;
    border: 2px solid red;
}
#namePhotoInfo, #nameCelebrationInfo,#namePhotoProfil,#nameCelebrationCeleb{
    font-size: 3vh;
}
#celebrationChoisieCeleb{
    height: 25vh;
    width: 90%;
    border: 2px solid red;
}
.contenu{
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    box-shadow: 0 3px 3px 0 #676767;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 5vw; */
    gap: 1vh;
    /* padding: 0.2em 4em 6em 0.4em; */
    min-width: 150px;
    align-items: center;
}

.contenu input{
    background-color: #C8C8C8;
    border-radius: 20px;
    width: 70%;
    height: 10vh;
    border: none;

}
.gap{
    font-size: 1vh;
}

.contenuSearch{
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4vh;
    box-shadow: 0 3px 3px 0 #676767;
    height: 60vh;
    width: 38vw;
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding-left: 2vw;
    gap: 1vh;
    /* padding: 0.2em 4em 6em 0.4em; */
    min-width: 300px;
    overflow-y: scroll;
}
.rechercheDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1vh;
}
.rechercheDiv input{
    background-color: #C8C8C8;
    border-radius: 20px;
    width: 70%;
    height: 50%;
    border: none;
}
#gridpdp{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
    gap: 15px;
    overflow-y: scroll;

    justify-items: center;
    position: relative;

    padding: 10px;
}
#gridpdp::-webkit-scrollbar {
    width: 15px;
    height: 30px;
}

/* Track */
#gridpdp::-webkit-scrollbar-track {
    background: #3EE4F0;
    border-radius: 30px;
    width: 15px;
}

/* Handle */
#gridpdp::-webkit-scrollbar-thumb {
    background: #eb4f61;
    border-radius: 30px;
    width: 5px;
}
.affichagePhoto{
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
}
.affichagePhoto img{
    width: 70%;
    height: 70%;
}
.affichagePhoto p{
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    margin: unset;
}

#gridCeleb{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    overflow-y: scroll;

    justify-items: center;
    position: relative;

    padding: 10px;
}
#gridCeleb::-webkit-scrollbar {
    width: 15px;
    height: 30px;
}

/* Track */
#gridCeleb::-webkit-scrollbar-track {
    background: #3EE4F0;
    border-radius: 30px;
    width: 15px;
}

/* Handle */
#gridCeleb::-webkit-scrollbar-thumb {
    background: #eb4f61;
    border-radius: 30px;
    width: 5px;
}
.affichageCeleb{
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    padding-top: 1vh;
    justify-content: space-between;
}
.affichageCeleb img{
    width: 70%;
    height: 70%;
}
.affichageCeleb p{
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    margin: unset;
}

input{
    padding-left: 2vw;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 3vh;

}

#retour{
    width: 25vh;
    margin-left: 2vh;
    margin-top: 1vh;
    margin-bottom: -5vh;
    cursor: pointer;
}

.lock{
    opacity: 0.4;
}

.unlock{
    opacity: 1;
}

.navClass2{
    display: none;
}

@media all and (max-aspect-ratio: 1300/844) {
    .searchPNG{
        display: flex;
    }
    .searchTXT{
        display: none;
    }
    .photo, .info, .celebration{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 90vw;
        font-size: 1.2em;
        /*changer couleur du texte*/
        color: #eb4f61;

    }
    .resume {

       display: none;
    }

    .resume p{
        font-size: 2vh;
        color: black;
        font-weight: bold;
        text-align: center;
    }
    .contenu{
        background-color: #E4E5E7;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 0.7em;
        box-shadow: 0 3px 3px 0 #676767;
        height: 60vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* padding-left: 5vw; */
        gap: 1vh;
        /* padding: 0.2em 4em 6em 0.4em; */
        min-width: 150px;
        align-items: center;
    }

    .contenuSearch{
        background-color: #E4E5E7;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2em;
        /*changer couleur du texte*/

        box-shadow: 0 3px 3px 0 #676767;
        height: 60vh;
        width: 90vw;
        display: grid;
        grid-template-rows: 1fr 8fr;
        padding-left: 2vw ;
        gap: 1vh;
        /* padding: 0.2em 4em 6em 0.4em;*/

        min-width: 200px;
    }
    .navClass{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        /*width qui rempli tout l'espace dispo*/
        width: 95%;
        flex-wrap: wrap;
        font-family: 'Roboto Condensed', sans-serif;

    }
    .topButton{
        background-color:  #E4E5E7;
        font-size: 3vh;
        font-weight: bold;
        padding: 0.2em 0.5em;
        margin-bottom: 0.2em;

        /*ajouter une bordure en bas*/
    }

    #namePhotoInfo, #nameCelebrationInfo,#namePhotoProfil,#nameCelebrationCeleb{
        font-size: 2vh;
    }
    .contenu input{
        background-color: #C8C8C8;
        border-radius: 20px;
        width: 80%;
        height: 5vh;
        border: none;

    }
    #photoChoisieProfil{
        height: 13vh;
        width: 13vh;
        border-radius: 50%;
        border: 2px solid red;
    }
    .affichageCeleb{
        display: flex;
        flex-direction: column;

        align-items: center;
        border: 1px solid black;
        width: 150px;
        height: 150px;
        padding-top: 1vh;
    }
    .affichageCeleb img{
        width: 60%;
        height: 60%;
    }
    .affichageCeleb p{
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
    }
    #gridCeleb{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
        overflow-y: scroll;

        justify-items: center;
        position: relative;

        padding: 10px;
    }
    #gridpdp{

        grid-template-columns: repeat(auto-fill, minmax(15vh, 1fr));

    }

    .navClass{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        /*width qui rempli tout l'espace dispo*/
        width: 100%;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .navClass2{
        display: flex;
        margin-bottom: 1.5vh;
    }

    .navClass2 *{
        box-sizing: border-box;
    }

    .Play{
        font-size: 1em;
    }

    .select{
        background: #2a2f3b;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px #2a2f3b solid;
        border-radius: 0.5em;
        padding : 1em;
        cursor: pointer;
        transition: background 0.3s;
        font-size: 1vh;
    }

    .selected{
        margin-right: 2vh;
        font-size: 2.5vh;
    }

    .select-clicked{
        border: 2px #26489a solid;
        box-shadow: 0 0 0.8em #26489a;
    }

    .select:hover{
        background: #323741;
    }


    .fleche{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fff;
        transition: 0.3s;
    }

    .fleche-rotate{
        transform: rotate(180deg);
    }

    .menu{
        list-style: none;
        padding: 0.2em 0.5em;
        background: #323741;
        border: 1px #363a43 solid;
        box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.1);
        border-radius: 0.5em;
        position: absolute;
        margin-top: 5.5vh;
        left: 50%;
        transform: translateX(-50%);
        width: 23vh;
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 10;
        position: absolute;
    }

    .topButton{
        /*enlever tout le css*/
        background: unset;
        margin: unset;
        padding: unset;
        border: unset;
        font-weight: unset;
        color: white;
        font-size: 2.5vh;    }

    .menu li{
        padding: 0.7em 0.5em;
        border-radius: 0.5em;
        margin: 0.2em 0;
        cursor: pointer;
    }

    .menu-open{
        display: block;
        opacity: 1;
    }

    .menu li:hover{
        background: #2a2d35;
    }
    .navClass{
        display: none;
    }
}

@media all and (max-width: 380px) {
    .topButton {
        background-color: #E4E5E7;
        font-size: 2vh;
        font-weight: bold;
        padding: 0.2em 0.5em;
        margin-bottom: 0.2em;

        /*ajouter une bordure en bas*/
    }
}