
.Play {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
    box-shadow: 0 3px 3px 0 #676767;
    width: 80%;
}

.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.btnJouer{
    width: 80%;
}

.Regles, .Commandes, .Classement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 90vw;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
}

.navClass{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /*width qui rempli tout l'espace dispo*/
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.topButton{
    background-color:  #E4E5E7;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em 0.5em;
    margin-bottom: 0.2em;
    /*ajouter une bordure en bas*/
}

.topButton:hover{
    /*background-color: #3EE4F0;
    color: #000000;*/
    cursor: pointer;
}

#regle{
    background-color: #3EE4F0;
    color: #000000;
    border-bottom: 4px solid #eb4f61;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /*centrer verticalement*/
    height: 70vh;

}

.btnJouer{
    margin: 0.2em 0.3em 0.3em 0.3em;
}

.icon{
    width: 20%;
    margin-top: 13.5vh;
}

.lesRegles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    font-size: 1em;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
    margin-left: 1vh;
    line-height: 1.5em;
    color: black;
}
.touche{
    height: 50vh;
}
.liste{
    list-style-type: none;
}

.lesRegles::-webkit-scrollbar {
    width: 0.5em;
}

.lesCommandes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    font-size: 1em;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
    margin-left: 1vh;
    line-height: 1.5em;
    color: black;
}

.lesCommandes::-webkit-scrollbar {
    width: 0.5em;
}

.lesCommandes::-webkit-scrollbar-track {
    background: #c6cbcc;
    border-radius: 10px;
}

.lesCommandes::-webkit-scrollbar-thumb {
    background: #756d6d;
    border-radius: 10px;
}

.lesCommandes::-webkit-scrollbar-thumb:hover {
    background: #9b9191;
}

.lesRegles::-webkit-scrollbar-track {
    background: #c6cbcc;
    border-radius: 10px;
}

.lesRegles::-webkit-scrollbar-thumb {
    background: #756d6d;
    border-radius: 10px;
}

.lesRegles::-webkit-scrollbar-thumb:hover {
    background: #9b9191;
}

.lesRangs{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    font-size: 1em;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
    line-height: 1.5em;
    width: 90vw;
    color: black;
}

.lesRangs::-webkit-scrollbar {
    width: 0.5em;
}

.lesRangs::-webkit-scrollbar-track {
    background: #c6cbcc;
    border-radius: 10px;
}

.lesRangs::-webkit-scrollbar-thumb {
    background: #756d6d;
    border-radius: 10px;
}

.lesRangs::-webkit-scrollbar-thumb:hover {
    background: #9b9191;
}

#souris{
    display: flex;
    width: 15vw;
    aspect-ratio: 1/1;
}
#phone{
display: none;
}

#europa, #conference, #ligue1{
    width: 60vw;
}

#ucl{
    width: 50vw;
    margin-right: 9vw;
}

#ligue2{
    width: 50vw;
    margin-left: 9vw;
}

#ucl, #ligue2, #europa, #conference, #ligue1{
    margin-top: 2.5vh;
}
.phoneFleche{
    display: none;
}
.phoneRank{
    display: none;
}

@media screen and (max-width: 750px) {

  .souris{
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

  }
    #phone{
        display: flex;
        width: 15vw;
        aspect-ratio: 1/1;
    }

    .topButton{
        background-color:  #E4E5E7;
        font-size: 1em;
        font-weight: bold;
        padding: 0.2em 0.5em;
        margin-bottom: 0.2em;
        /*ajouter une bordure en bas*/
        min-width: 50px;
    }

    #ucl, #ligue2, #europa, #conference, #ligue1{
        display: none;
    }
    .phoneFleche{
        display: flex;
        width: 10vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .phoneRank{
        display: flex;
        width: 60vw;
    }
}

.navClass2 {
    display: none;
}
@media screen and (max-width: 300px) {

    .btnJouer {
        width: 35vw;
        font-size: 1em;
    }

    .lesRegles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 40vh;
        overflow-y: scroll;
        font-size: 0.7em;
        margin-bottom: 1vh;
        margin-right: 0.5vh;
        margin-left: 1vh;
        line-height: 1.5em;
        color: black;
    }

    .lesCommandes {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 40vh;
        overflow-y: scroll;
        font-size: 0.7em;
        margin-bottom: 1vh;
        margin-right: 0.5vh;
        margin-left: 1vh;
        line-height: 1.5em;
        color: black;
    }

    #souris {
        display: none;

    }

    #phone {
        display: none;

    }


    #ucl, #ligue2, #europa, #conference, #ligue1 {
        display: none;
    }
}
    @media all and (max-aspect-ratio: 4/3.1) {
        .navClass2{
            display: flex;
            margin-bottom: 1.5vh;
        }

        .navClass2 *{
            box-sizing: border-box;
        }

        .Play{
            font-size: 1em;
            width: 100%;
        }

        .select{
            background: #2a2f3b;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px #2a2f3b solid;
            border-radius: 0.5em;
            padding : 1em;
            cursor: pointer;
            transition: background 0.3s;
        }

        .selected{
            margin-right: 2vh;
            font-size: 2.5vh;
        }

        .select-clicked{
            border: 2px #26489a solid;
            box-shadow: 0 0 0.8em #26489a;
        }

        .select:hover{
            background: #323741;
        }

        .fleche{
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #fff;
            transition: 0.3s;
        }

        .fleche-rotate{
            transform: rotate(180deg);
        }

        .menu{
            list-style: none;
            padding: 0.2em 0.5em;
            background: #323741;
            border: 1px #363a43 solid;
            box-shadow: 0 0.5em 1em rgb(0, 0, 0, 0.1);
            border-radius: 0.5em;
            position: absolute;
            margin-top: 7.5vh;
            left: 50%;
            transform: translateX(-50%);
            width: 24vh;
            opacity: 0;
            display: none;
            transition: 0.2s;
            z-index: 10;
            position: absolute;
        }

        .topButton{
            /*enlever tout le css*/
            background: unset;
            margin: unset;
            padding: unset;
            border: unset;
            font-weight: unset;
            color: white;
            font-size: 2.5vh;
        }

        .menu li{
            padding: 0.7em 0.5em;
            border-radius: 0.5em;
            margin: 0.2em 0;
            cursor: pointer;
        }

        .menu-open{
            display: block;
            opacity: 1;
        }

        .menu li:hover{
            background: #2a2d35;
        }
        .navClass{
            display: none;
        }
    }
