.btnJouer{
    margin: 0.3em 0 0 0.3em;
}


.container {
    display: flex;
    /*placer les div au centre horizontalement et verticalement*/
    align-items: center;
    margin-top: 2%;
    justify-content: center;
    flex-direction: column;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4E5E7;
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 #676767;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    color: #676767;
}

#signupForm {
    width: 80%;
    margin-bottom: 0px;
}

input {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #676767;
    padding: 0.5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

.valider{
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}




#signup{
    background-color: #3cadb6;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 3vh;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 7px 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;

    margin-top: -1vh;
}

#signup:hover{
    background-color: #389ba2;
    box-shadow: #389ba2 0 10px 20px -10px;
}

#login:hover{
    background-color: #969696;
}
#resultatSignUpDIV{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;
    background-color: #EB4F61;
    margin-top: 1%;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 6px 6px 0 #676767;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7em;
    color: #FFFFFF;
    min-width: 250px;
}
#resultatSignUpDIV btn{
    background-color: #3cadb6;
    border-radius: 999px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 3vh;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 7px 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;

    margin-top: -1vh;
}

@media screen and (max-aspect-ratio: 4/3.1) {
    #resultatSignUpDIV{
        width: 60%;
        font-size: 3vh;
        line-height: 3vh;
    }
    .sign {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E4E5E7;
        width: 60%;
        height: fit-content;
        border-radius: 10px;
        box-shadow: 0 3px 3px 0 #676767;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2em;
        color: #676767;
        min-width: 250px;
    }
    #signup{
        background-color: #b0b0b0;
        border-radius: 999px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 3vh;
        font-weight: 700;
        line-height: 35px;
        opacity: 1;
        outline: 0 solid transparent;
        padding-right : 10px;
        padding-left : 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;

        margin-top: -1.2vh;
    }
    input {
        width: 100%;
        height: 5vh;
        border-radius: 5px;
        border: 1px solid #676767;
        padding: 0.5em;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1em;
    }
    .btnJouer {
        margin: 0.3em 0 0 0.3em;
        font-size: 5vh;
        text-align: center;
    }
    .valider{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 8%;
    }
    .Title img{
        width: fit-content;
        height: fit-content;
        max-width: 60vw;
        max-height: 100%;

    }
}
@media screen and (max-height : 500px) {
    .Title img{

        display: none;
    }
    .container {
        display: flex;
        /*placer les div au centre horizontalement et verticalement*/
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

