*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*police de caractère*/
    font-family: 'Roboto Condensed', sans-serif;

}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    width: fit-content;
}

.onlinePlay, .horLignePlay{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
}

.Play{
    background-color: #E4E5E7;
    box-shadow: 0 3px 3px 0 #676767;
    padding: 0.2em 4em 6em 0.4em;
}

.navClass{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /*width qui rempli tout l'espace dispo*/
    width: 100%;
}

.topButton{
    background-color:  #E4E5E7;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em 0.5em;
    margin-bottom: 0.2em;
}




