body {
    background-image: url('../images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 97vh;

    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: relative;
    margin: 6px;
    height: 50px;
    width: 862px;
}

.cnt-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 7vh;
    height: 100%;
    padding: 0 50px 0 0;
}

.bg-header {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 0 15px 9px;
}
.nav img {
    height: 50%;
}

.connection {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0 15px 9px;
    margin-top: 7px;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4px;
}

.name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.1vh;
}

.se-connecter {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    color: #E4E5E7;
    height: 84%;
    margin-left: 27%;
    margin-bottom: 0.5%;
    background-color: #9f9f9f;
    cursor: pointer;
}

.footer {
    background-image: url('../images/footer.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 9%;
    margin-top: auto; /* Ajoutez cette ligne pour forcer le pied de page en bas */
    margin-bottom: -1.25%; /* Ajoutez cette ligne pour forcer le pied de page en bas */
}

.connexion {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #E4E5E7;
    height: 84%;
    margin-bottom: 1.1vh;
    margin-right: 0.5vh;
    background-color: #9f9f9f;
    cursor: pointer;
}

.btn{
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    margin-top: 1.4vh;
    font-size: 1.2em;
}


#param {
    width: 3%;
    margin-bottom: 7px;
    margin-right: 5px;}


#bande {
    width: 65%;
}

#kickoridor {
    width: 13%;
    margin-bottom: 5px;
    margin-left: 5px;
}

#home {
    cursor: pointer;
}

#vingt{
    width: 2.5%;
    margin-bottom: 5px;
    margin-left: 5px;
}

.cont {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    height: 50vh;
    width: 100%;
    box-shadow: 0 3px 3px 0 #676767;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    padding: 0.2em 2em 0em 2em;

}



.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.friendsList, .friendsAdd , .friendsDemands{

    width: 750px;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
}

.navClass{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /*width qui rempli tout l'espace dispo*/
    width: 100%;
}

.topButton{
    background-color:  #E4E5E7;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em 2em;
    margin-bottom: 0.2em;
    /*ajouter une bordure en bas*/
}

.topButton:hover{
    /*background-color: #3EE4F0;
    color: #000000;*/
    cursor: pointer;
}

#amisBTN{
    background-color: #3EE4F0;
    color: #000000;
    border-bottom: 4px solid #eb4f61;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /*centrer verticalement*/
    height: 70%;

}

.btnJouer{
    margin : 0;
}

.mitro {
    width: 35px; /* ajustez la taille du cercle selon vos besoins */
    height: 35px; /* assurez-vous que la largeur et la hauteur soient les mêmes pour obtenir un cercle parfait */
    overflow: hidden; /* assurez-vous que l'image est coupée si elle dépasse les limites du cercle */
    border-radius: 50%; /* définir le rayon du cercle */
    margin-bottom: 0.4em;
    margin-right: -4em;
}

.mitro img {
    width: 150%; /* assurez-vous que l'image remplit complètement le cercle */
    margin-left: -10px;
}

#amisDiv{
    background-color: #B9C0C6;
    margin-bottom: 7px;
    margin-right: 5px;
    width: fit-content;
    height: fit-content;
    display: flex;
}
#amisImg{
    width: 50%;
    height: 50%;
}
#amisTexte{
    font-family: 'Roboto Condensed', sans-serif;
}

#resultatRechercheAmis{

    display: flex;
    flex-direction: column;
    align-items: center;

}
#searchInput
{
    height: 5vh;
    border-radius: 20px;
    background-color: #C8C8C8 ;
}
#RechercheJoueur{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-gap: 10%;
    width: 100%;
    border-radius: 10px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
    padding-bottom: 0.5em;

}
#RechercheJoueur button{
    background-color:  #C8C8C8 ;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}
.cont::-webkit-scrollbar {
    width: 15px;
    height: 30px;
}

/* Track */
.cont::-webkit-scrollbar-track {
    background: #3EE4F0;
    border-radius: 30px;
    width: 15px;
}

/* Handle */
.cont::-webkit-scrollbar-thumb {
    background: #eb4f61;
    border-radius: 30px;
    width: 5px;
}

.profilAmis{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 500px;
}
.profilAmis div{
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.profilAmis img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}



