body {
    background-image: url('../images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 6px;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

.header {
    background-image: url('../images/header.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 9%;
}

.footer {
    background-image: url('../images/footer.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 9%;
    margin-top: auto; /* Ajoutez cette ligne pour forcer le pied de page en bas */
    margin-bottom: -10px; /* Ajoutez cette ligne pour forcer le pied de page en bas */
}

.se-connecter {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    color: #E4E5E7;
    height: 84%;
    margin-left: 27%;
    margin-bottom: 0.5%;
    background-color: #9f9f9f;
    cursor: pointer;
}

#param {
    width: 3%;
    margin-bottom: 7px;
    margin-right: 5px;}


#bande {
    width: 65%;
}

#kickoridor {
    width: 13%;
    margin-bottom: 5px;
    margin-left: 5px;
}

#home {
    width: 2.5%;
    margin-bottom: 5px;
    margin-left: 5px;
}

#vingt{
    width: 2.5%;
    margin-bottom: 5px;
    margin-left: 5px;
}

#kickoridor2 {
    width: 32.5%;
    margin-bottom: 5px;
    margin-left: 5px;
}

#vingt2{
    width: 6.75%;
    margin-bottom: 5px;
    margin-left: 5px;
}

.btnJouer{
    margin: 0.3em 0 0 0.3em;
}

.btn{
    margin: 0.4em 0.3em 0 0.3em;
}

.container {
    display: flex;
    /*placer les div au centre horizontalement et verticalement*/
    align-items: center;
    min-height: 70vh;
    justify-content: center;
}
