.btnJouer{
    margin: 0.3em 0 0 0.3em;
}

.container {
    display: flex;
    /*placer les div au centre horizontalement et verticalement*/
    align-items: center;
    margin-top: 5%;
    justify-content: center;
    flex-direction: column;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #E4E5E7;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 #676767;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    color: #676767;
}

#loginForm {
    margin-top: 1%;
    width: 80%;
    margin-bottom: -5%
}

input {
    width: 100%;
    height: 22%;
    border-radius: 5px;
    border: 1px solid #676767;
    padding: 0.5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

.valider{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 8%;
}

#signup, #login{
    background-color: #C9C9C9; /* Couleur de fond */
    color: #656869; /* Couleur du texte */
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border: none; /* Suppression de la bordure */
    width: 40%;
    min-height: fit-content;
    height: 3vh;
    font-size: 2vh; /* Taille de la police */
    border-radius: 5px; /* Arrondi des coins */
    cursor: pointer; /* Curseur au survol */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
#signup:hover,  #login:hover {
    background-color: #3EE4F0; /* Changement de couleur de fond au survol */
    color: #eb4f61;
}