.Play {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
    width: 24%;
    height: 34%;
    margin: 0.5em;
    box-shadow: 0 3px 3px 0 #676767;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: background-color 0.3s ease; /* Animation de transition pour un effet plus fluide */

}

.Play:hover {
    background-color: #eb4f61;
    color: #E4E5E7;
    box-shadow: 0 3px 3px 0 #676767;
    /*afficher le curseur pointer*/
    cursor: pointer;
}


.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.btnJouer{
    margin: 0.2em 0.3em 0.3em 0.3em;
}

.container {
    display: flex;
    /*placer les div au centre horizontalement et verticalement*/
    align-items: center;
    min-height: 70vh;
    justify-content: center;
}

#classement {
    background-image: url("../images/ucl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #dddddd;
    transition: filter 0.3s ease; /* Animation de transition pour un effet plus fluide */
}

#classement:hover {
    filter: brightness(70%); /* Appliquer un filtre de luminosité de 80% (plus clair) */
}

#name:hover {
    cursor: pointer;
    font-weight: bold;
}

.name{
    margin-right: 1em;
    margin-left: 1em;
}


.mitro {
    width: 35px; /* ajustez la taille du cercle selon vos besoins */
    height: 35px; /* assurez-vous que la largeur et la hauteur soient les mêmes pour obtenir un cercle parfait */
    overflow: hidden; /* assurez-vous que l'image est coupée si elle dépasse les limites du cercle */
    border-radius: 50%; /* définir le rayon du cercle */
    margin-bottom: 0.4em;
    margin-right: -4em;
}

.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -8%;
    margin-top: 5%;
}

.icon{
    width: 20%;
    margin-top: 13.5vh;
}

#regle{
    width: 18%;
}

#titre{
    width: fit-content;
    height: fit-content;
    max-width: 30%;
}

.mitro img {
    width: 150%; /* assurez-vous que l'image remplit complètement le cercle */
    margin-left: -10px;
}

