body {
    background-image: url('../images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}

header {
    position: relative;
    margin: 6px;
    height: 50px;
    width: 862px;
}

.cnt-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 7vh;
    height: 100%;
    padding: 0 50px 0 0;
}

.bg-header {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 0 15px 9px;
}
.nav img {
    height: 50%;
}

.connection {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0 15px 9px;
    margin-top: 7px;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4px;
}

.name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.1vh;
}

.footer {
    background-image: url('../images/footer.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 9%;
    margin-top: auto; /* Ajoutez cette ligne pour forcer le pied de page en bas */
    margin-bottom: -1.25%; /* Ajoutez cette ligne pour forcer le pied de page en bas */
}

.connexion {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: #E4E5E7;
    height: 84%;
    margin-bottom: 1.1vh;
    margin-right: 0.5vh;
    background-color: #9f9f9f;
    cursor: pointer;
}

.btn{
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    margin-top: 1.4vh;
    font-size: 1.2em;
}


#param {
    width: 3%;
    margin-bottom: 7px;
    margin-right: 5px;}


#bande {
    width: 65%;
}

#kickoridor {
    width: 13%;
    margin-bottom: 5px;
    margin-left: 5px;
}

#home {
    cursor: pointer;
}

#vingt{
    width: 2.5%;
    margin-bottom: 5px;
    margin-left: 5px;
}

.Play {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
    width: 24%;
    height: 34%;
    margin: 0.5em;
    box-shadow: 0 3px 3px 0 #676767;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.playBot:hover, .play1v1:hover {
    background-color: #eb4f61;
    color: #E4E5E7;
    box-shadow: 0 3px 3px 0 #676767;
    /*afficher le curseur pointer*/
    cursor: pointer;
}

.btnJouer{
    margin: 0.3em 0 0 0.3em;
}

.container {
    display: flex;
    /*placer les div au centre horizontalement et verticalement*/
    align-items: center;
    min-height: 70vh;
    justify-content: center;
}
