.Play {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
    box-shadow: 0 3px 3px 0 #676767;

    padding: 0.2em 4em 6em 0.4em;

}

.Play:hover {
    background-color: #eb4f61;
    color: #E4E5E7;
    box-shadow: 0 3px 3px 0 #676767;
    /*afficher le curseur pointer*/
    cursor: pointer;
}


.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.photo, .info, .celebration{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 60vw;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;

}

.navClass{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /*width qui rempli tout l'espace dispo*/
    width: 100%;

    font-family: 'Roboto Condensed', sans-serif;
}

.topButton{
    background-color:  #E4E5E7;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em 0.5em;
    margin-bottom: 0.2em;
    /*ajouter une bordure en bas*/
}

.topButton:hover{
    /*background-color: #3EE4F0;
    color: #000000;*/
    cursor: pointer;
}

#info{
    background-color: #3EE4F0;
    color: #000000;
    border-bottom: 4px solid #eb4f61;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /*centrer verticalement*/
    height: 80%;

}

.btnJouer{
    margin : 0;
}




#name:hover {
    cursor: pointer;
    font-weight: bold;
}

.name{
    margin-right: 1em;
    margin-left: 1em;
}

.mitro {
    width: 35px; /* ajustez la taille du cercle selon vos besoins */
    height: 35px; /* assurez-vous que la largeur et la hauteur soient les mêmes pour obtenir un cercle parfait */
    overflow: hidden; /* assurez-vous que l'image est coupée si elle dépasse les limites du cercle */
    border-radius: 50%; /* définir le rayon du cercle */
    margin-bottom: 0.4em;
    margin-right: -4em;
}

.mitro img {
    width: 150%; /* assurez-vous que l'image remplit complètement le cercle */
    margin-left: -10px;
}

#retour{
    width: 25vh;
    margin-left: 2vh;
    margin-top: 1vh;
    margin-bottom: -2vh;
    cursor: pointer;

.resume {

    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    box-shadow: 0 3px 3px 0 #676767;
    height: 60vh;
    width: 20vw;
    background-image: url("../images/fondProfilGris.png");
   /* padding: 0.2em 4em 6em 0.4em;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
    overflow: clip;
    min-height: 350px;
}

.resume p{
   font-size: 2vh;
    color: black;
    font-weight: bold;
}
 #photoChoisieInfo{
    height: 12vh;
     border-radius: 50%;
     border: 2px solid red;
}
#celebrationChoisieInfo{
    height: 16vh;
    width: 16vh;
    border: 2px solid red;
}
#photoChoisieProfil{
    height: 24vh;
    border-radius: 50%;
    border: 2px solid red;
}
#namePhotoInfo, #nameCelebrationInfo,#namePhotoProfil,#nameCelebrationCeleb{
    font-size: 3vh;
}
#celebrationChoisieCeleb{
    height: 25vh;
    width: 25vh;
    border: 2px solid red;
}
.contenu{
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    /*changer couleur du texte*/

    box-shadow: 0 3px 3px 0 #676767;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 5vw ;
    gap: 1vh;
    /* padding: 0.2em 4em 6em 0.4em;*/
    min-height: 350px;
    min-width: 200px;
}
.contenu input{
    background-color: #C8C8C8;
    border-radius: 20px;
    width: 70%;
    height: 10vh;
    border: none;

}
.gap{
  font-size: 1vh;
}

.contenuSearch{
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/

    box-shadow: 0 3px 3px 0 #676767;
    height: 60vh;
    width: 50vw;
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding-left: 2vw ;
    gap: 1vh;
    /* padding: 0.2em 4em 6em 0.4em;*/
    min-height: 350px;
}
.rechercheDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.rechercheDiv input{
    background-color: #C8C8C8;
    border-radius: 20px;
    width: 70%;
    height: 50%;
    border: none;
}
#gridpdp{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    overflow-y: scroll;

    justify-items: center;
    position: relative;

    padding: 10px;
}
#gridpdp::-webkit-scrollbar {
    width: 15px;
    height: 30px;
}

/* Track */
#gridpdp::-webkit-scrollbar-track {
    background: #3EE4F0;
    border-radius: 30px;
    width: 15px;
}

/* Handle */
#gridpdp::-webkit-scrollbar-thumb {
    background: #eb4f61;
    border-radius: 30px;
    width: 5px;
}
.affichagePhoto{
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
}
.affichagePhoto img{
    width: 70%;
    height: 70%;
}
.affichagePhoto p{
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

#gridCeleb{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    overflow-y: scroll;

    justify-items: center;
    position: relative;

    padding: 10px;
}
#gridCeleb::-webkit-scrollbar {
    width: 15px;
    height: 30px;
}

/* Track */
#gridCeleb::-webkit-scrollbar-track {
    background: #3EE4F0;
    border-radius: 30px;
    width: 15px;
}

/* Handle */
#gridCeleb::-webkit-scrollbar-thumb {
    background: #eb4f61;
    border-radius: 30px;
    width: 5px;
}
.affichageCeleb{
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    padding-top: 1vh;
}
.affichageCeleb img{
    width: 70%;
    height: 70%;
}
.affichageCeleb p{
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

.selected{
    background-color: #eb4f6170 ;
    border: 3px solid #eb4f61;
}
input{
    padding-left: 2vw;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 3vh;
}