
.Play {
    background-color: #E4E5E7;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
    box-shadow: 0 3px 3px 0 #676767;
}

.btn{
    margin: 0.4em 0.3em 0.3em 0.3em;
}

.btnJouer{
    width: 120vh;
}

.Regles, .Commandes, .Classement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 700px;
    font-size: 1.2em;
    /*changer couleur du texte*/
    color: #eb4f61;
}

.navClass{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /*width qui rempli tout l'espace dispo*/
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.topButton{
    background-color:  #E4E5E7;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em 0.5em;
    margin-bottom: 0.2em;
    /*ajouter une bordure en bas*/
}

.topButton:hover{
    /*background-color: #3EE4F0;
    color: #000000;*/
    cursor: pointer;
}

#regle{
    background-color: #3EE4F0;
    color: #000000;
    border-bottom: 4px solid #eb4f61;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    /*centrer verticalement*/
    height: 78%;

}

.btnJouer{
    margin: 0.2em 0.3em 0.3em 0.3em;
}

.icon{
    width: 20%;
    margin-top: 13.5vh;
}

.lesRegles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    font-size: 1em;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
    margin-left: 1vh;
    line-height: 1.5em;
    color: black;
}

.liste{
    list-style-type: none;
}

.lesRegles::-webkit-scrollbar {
    width: 0.5em;
}

.lesCommandes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    font-size: 1em;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
    margin-left: 1vh;
    line-height: 1.5em;
    color: black;
}

.lesCommandes::-webkit-scrollbar {
    width: 0.5em;
}

.lesCommandes::-webkit-scrollbar-track {
    background: #c6cbcc;
    border-radius: 10px;
}

.lesCommandes::-webkit-scrollbar-thumb {
    background: #756d6d;
    border-radius: 10px;
}

.lesCommandes::-webkit-scrollbar-thumb:hover {
    background: #9b9191;
}

.lesRegles::-webkit-scrollbar-track {
    background: #c6cbcc;
    border-radius: 10px;
}

.lesRegles::-webkit-scrollbar-thumb {
    background: #756d6d;
    border-radius: 10px;
}

.lesRegles::-webkit-scrollbar-thumb:hover {
    background: #9b9191;
}

.lesRangs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    font-size: 1em;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
    margin-left: 1vh;
    line-height: 1.5em;
    color: black;
}

.lesRangs::-webkit-scrollbar {
    width: 0.5em;
}

.lesRangs::-webkit-scrollbar-track {
    background: #c6cbcc;
    border-radius: 10px;
}

.lesRangs::-webkit-scrollbar-thumb {
    background: #756d6d;
    border-radius: 10px;
}

.lesRangs::-webkit-scrollbar-thumb:hover {
    background: #9b9191;
}

#souris{
    width: 20vh;
}

#europa, #conference, #ligue1{
    width: 100vh;
}

#ucl{
    width: 85vh;
    margin-right: 14.5vh;
}

#ligue2{
    width: 85vh;
    margin-left: 14.5vh;
}

#ucl, #ligue2, #europa, #conference, #ligue1{
    margin-top: 2.5vh;
}





